[*]

insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]

# IDE0007: Use 'var' instead of explicit type
csharp_style_var_when_type_is_apparent = true
csharp_style_var_for_built_in_types = true
csharp_style_var_elsewhere = true

# IDE0009: Add this or Me qualification
dotnet_style_qualification_for_event = true
dotnet_style_qualification_for_field = true
dotnet_style_qualification_for_method = true
dotnet_style_qualification_for_property = true

# IDE0040: Add accessibility modifiers
dotnet_style_require_accessibility_modifiers = omit_if_default

# IDE0055: Fix formatting
dotnet_separate_import_directive_groups = true
dotnet_sort_system_directives_first = false

# IDE0065: 'using' directive placement
csharp_using_directive_placement = inside_namespace

# IDE0160: Use block-scoped namespace
# IDE0161: Use file-scoped namespace
csharp_style_namespace_declarations = file_scoped
